<div class="container">

  <h1>Cuidadores</h1>

  <% @caregivers.each do |caregiver| %>
    <p><%= caregiver.first_name %> <%= caregiver.last_name %></p>
    <p><%= caregiver.address %></p>
    <p><%= link_to "ver", user_path(caregiver) %> </p>
  <% end %>

  <div
  id="map"
  style="width: 50%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  ></div>

  <p><%= link_to 'home', root_path %></p>




</div>
