<div class="container">

  <h1>Todos os usuários</h1>

  <% @users.each do |user| %>
    <p><%= user.first_name %></p>
    <p><%= user.last_name %></p>
    <p><%= user.email %></p>
    <p><%= user.address %></p>
    <p><%= link_to "ver", user_path(user) %> </p>
  <% end %>


  <div
  id="map"
  style="width: 50%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  ></div>

  <p><%= link_to 'home', root_path %></p>


</div>
