<div class="container">

  <p><%= @user.first_name %></p>

  <% if @user.caregiver %>
    <p>Este é um Cuidador</p>
  <% end %>


<% if current_user == @user %>
  <%= link_to "Editar perfil", edit_user_registration_path(current_user) %>
  <%= link_to "Adicionar pet", new_user_pet_path(current_user) %>

<% end %>

  <div
    id="map-id"
    style="width: 420px; height: 270px;"
    data-marker="<%= @marker.to_json %>">
  </div>


<p><% @pets.each do |pet| %></p>
    <p>Nome: <%= pet.name %></p>
    <p>Raça: <%= pet.breed %></p>
    <p>Descrição: <%= pet.description %></p>
    <p>Idade: <%= pet.age %></p>
    <p>Peso: <%= pet.weight %></p>
    <p>Sexo: <%= pet.sex %></p>
    <p>Vacinação: <%= pet.vaccine %></p>
    <p>Castração: <%= pet.castrated %></p>
    <p>Obs.: <%= pet.comment %></p>
    <p></p>
    <p><%= cl_image_tag pet.photo %></p>


    <% if current_user == @user %>
      <p><%= link_to "Editar Pet", edit_pet_path(pet) %></p>
      <p><%= link_to "Apagar Pet", pet_path(pet),
        method: :delete,
        data: { confirm: "Ówn, tem certeza?" } %></p>
    <% end %>
  <% end %>



<div id="reviews">
  <% if @user.reviews.blank? && current_user != @user %>
    Seja o primeiro a comentar sobre <%= @user.first_name %>
  <% else %>
    <% @user.reviews.each do |review| %>
      <%= render 'reviews/show', review: review %>
    <% end %>
  <% end %>
</div>

  <% if current_user != @user %>
    <%= render 'reviews/form', user: @user, review: @review %>
  <% end %>

</div>








