<div class="container">
  <p><%= @user.first_name %></p>

<% if current_user == @user %>
  <%= link_to "Editar perfil", edit_user_registration_path(current_user) %>
  <%= link_to "Adicionar pet", new_user_pet_path(current_user) %>
    <% if current_user == @user && current_user.caregiver %>
    <%= link_to "Adicionar atividades e preços", new_user_task_path(current_user) %>
  <% end %>
<% end %>

  <div
    id="map-id"
    style="width: 420px; height: 270px;"
    data-marker="<%= @marker.to_json %>">
  </div>


<% if @task %>
    <p>Dar banho: <%= @task.bath_value %></p>
    <p>Caminhar R$: <%= @task.walk_value %></p>
    <p>Brincar R$: <%= @task.play_value %></p>
    <p>Companhia R$: <%= @task.look_after_value %></p>
    <p>Acompanhar ao Veterinário R$: <%= @task.vet_value %></p>
    <p>Adestramento R$: <%= @task.training_value %></p>
    <p>Limpeza da Casa R$: <%= @task.clean_house_value %></p>
    <p>Obs.: <%= @task.comment %></p>
    <% if current_user == @user %>
      <p><%= link_to "Editar atividades", edit_task_path(@task) %></p>
      <p><%= link_to "Apagar atividades", task_path(@task),
        method: :delete,
        data: { confirm: "Are you sure?" } %></p>
    <% end %>

    <% if current_user != @user %>
      <p><%= link_to "Selecionar", new_user_service_path(@user) %></p>
    <% end %>
<% end %>



<p><% @pets.each do |pet| %></p>
    <p>Nome: <%= pet.name %></p>
    <p>Raça: <%= pet.breed %></p>
    <p>Descrição: <%= pet.description %></p>
    <p>Idade: <%= pet.age %></p>
    <p>Peso: <%= pet.weight %></p>
    <p>Sexo: <%= pet.sex %></p>
    <p>Vacinação: <%= pet.vaccine %></p>
    <p>Castração: <%= pet.castrated %></p>
    <p>Obs.: <%= pet.comment %></p>
    <p></p>
    <p><%= cl_image_tag pet.photo %></p>


    <% if current_user == @user %>
      <p><%= link_to "Editar Pet", edit_pet_path(pet) %></p>
      <p><%= link_to "Apagar Pet", pet_path(pet),
        method: :delete,
        data: { confirm: "Ówn, tem certeza?" } %></p>
    <% end %>
  <% end %>


</div>








